/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2014, 1:34:36 PM
    Author     : Administrator
*/

html body {
    background-image: url("resources/sea-black-and-white-water-ocean.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    margin:0;
    padding:0;
    height:100%;
    
}

body{
    padding:10px;
    padding-bottom:60px;   /* Height of the footer */
}

header {
    padding:5px;
}

h1 {
    color: black;
    font-size: 40px;
    font-family: "Input mono";
    text-align: center;
}

h2 {
    color: black;
    font-family: "Input mono";
    text-align: center;
}

p{
    font-family: "Input mono";
    font-size: 20px;
}


nav {
    font-family: "Input mono";
    font-size: 20px;
    text-align: left;
    border: 2px;
    float: right;
    padding-right: 30px;
}

footer{
    font-family: "Input mono";
    font-size: 20px;
    text-align: left;
    border: 10px;
    float:left;
    position:absolute;
    bottom:0;
    width:100%;
    height:90px;
}

#container {
   min-height:100%;
   position:relative;
}
